{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <h2 class="text-center mb-4">회원 가입</h2>
      {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
        {% endif %}

      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          {{ form.username.label_tag }}
          <input
            type="text"
            name="username"
            class="form-control"
            placeholder="사용자명을 입력하세요"
            required
          />
        </div>
        <div class="form-group">
          {{ form.password1.label_tag }}
          <input
            type="password"
            name="password1"
            class="form-control"
            placeholder="비밀번호를 입력하세요"
            required
          />
        </div>
        <div class="form-group">
          {{ form.password2.label_tag }}
          <input
            type="password"
            name="password2"
            class="form-control"
            placeholder="비밀번호를 다시 입력하세요"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block">
          가입하기
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}