<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>도마뱀 분양 거래 사이트</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">도마뱀 분양</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/"
              >홈 <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'user_list' %}">사용자 목록</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'products:product_create' %}"
              >등록</a
            >
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">로그아웃</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'profile' user.username %}"
              >{{ user.username }}님 환영합니다</a
            >
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/accounts/login/">로그인</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/accounts/signup/">회원가입</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <!-- 전체 도마뱀 리스트 -->
    <div class="row">
      {% for product in products %}
      <div class="col-lg-3 col-md-4 mb-3">
        <div class="card">
          <div class="text-center">
            <img
              src="{{ product.image.url }}"
              class="card-img-top img-fluid"
              alt="도마뱀 사진"
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ product.title }}</h5>
            <p class="card-text">
              작성자: {% if product.author %}{{ product.author.username }}
              {% endif %}
            </p>

            <a
              href="{% url 'products:product_detail' pk=product.pk %}"
              class="btn btn-primary"
              >자세히 보기</a
            >
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <!-- 푸터 -->
    <footer class="footer bg-dark text-white text-center py-3">
      <div class="container">
        <span>© 2024 도마뱀 분양 거래 사이트 Made by.Jinwon </span>
      </div>
    </footer>

    <!-- 부트스트랩 JS 추가 -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
